module YoutubeId exposing (clientId, apikey, oauthProxyUrl, checkOauthState)

clientId = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
apikey = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
oauthProxyUrl = "https://xxxxxxxxxxxxxxxxxxxxxxxxxxxx"
checkOauthState = True
